<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/main.css">
    <title>Document</title>
</head>
<body>
    <div class="fit">
        <a href="{% url 'prob1' %}" class="button button1 size">Problem 1</a>
        <a href="{% url 'prob2' %}" class="button button2 size">Problem 2</a>
        <a href="{% url 'prob3' %}" class="button button1 size">Problem 3</a>
        <a href="{% url 'prob4' %}" class="button button2 size">Problem 4</a>
    </div>
</body>
</html>