{% extends 'layout.html' %}
{% block content %}
    <form class="fit">
        <h2>Total runs scored by team</h2>
        Select year:
        <select class="size" id="mySelect1">
            <option>all</option>
            <option>2008</option>
            <option>2009</option>
            <option>2010</option>
            <option>2011</option>
            <option>2012</option>
            <option>2013</option>
            <option>2014</option>
            <option>2015</option>
            <option>2016</option>
            <option>2017</option>
        </select>

        Select top rank:
        <select class="size" id="mySelect2">
            <option>all</option>
            <option>10</option>
            <option>5</option>
            <option>3</option>
        </select>
        <input class="size" type="button" onclick="getOption1()" value="Get Graph">
    </form>
    <div class="container">
        <div class="box" id="container_1"></div>
    </div>
    
    <script src="../static/prob1.js"></script>
{% endblock content %}
