{% extends 'layout.html' %}

    {% block content %}

<h2>{{ data }}</h2>

<form>
    Select year:
    <select id="mySelect1">
      <option>2017</option>
      <option>2008</option>
      <option>2009</option>
      <option>2010</option>
    </select>

    Select top rank:
    <select id="mySelect2">
      <option>2</option>
      <option>5</option>
      <option>7</option>
      <option>10</option>
    </select>
    <br><br>

    <input type="button" onclick="getOption1()" value="Click Me!">
</form>
    <p id="demo"></p>
    <div class="box" id="container_1"></div>
    <p id="demo1"></p>

    <script src="../static/plot.js"></script>
    {% endblock content %}
