{% extends 'layout.html' %}
{% block content %} 
    <form class="fit">
      <h2>Top batsman by year and by team</h2>
        Select year:
        <select class="size" id="dd-1">
            <option>all</option>
          <option>2017</option>
          <option>2008</option>
          <option>2009</option>
          <option>2010</option>
        </select>

        Select team name:
        <select class="size" id="dd-2">
            <option>all</option>
          <option>Royal Challengers Bangalore</option>
          <option>Rising Pune Supergiant</option>
          <option>Kolkata Knight Riders</option>
          <option>Kings XI Punjab</option>
        </select>
    
        Select top rank:
        <select class="size" id="dd-3">
          <option>15</option>
          <option>10</option>
          <option>5</option>
          <option>3</option>
        </select>
        <br><br>
    
        <input class="size" type="button" onclick="getOption2()" value="Get Graph">
    </form>
        <div class="container">
          <div class="box" id="container_2"></div>
        </div>
    
        <script src="../static/prob2.js"></script>
{% endblock content %}
